---
import Section from '@/components/Section.astro';
import Paragraph from '@/components/Paragraph.astro';

import { basics } from '@cv';
const { summary } = basics;
---

<Section title="About">
    {summary.map((paragraph) => <Paragraph>{paragraph}</Paragraph>)}
</Section>

<style>
    
</style>