---
import Section from '@/components/Section.astro';
import Paragraph from '@/components/Paragraph.astro';
import cv from '@cv';

const { summary } = cv.basics;
---

<Section title="About">
    {summary.map((paragraph) => <Paragraph>{paragraph}</Paragraph>)}
</Section>

<style>
    
</style>