---
import Section from '@/components/Section.astro';
import cv from '@cv';

const { projects } = cv;
---

<Section title="Projects">
  <ul>
    {
      projects.map((project) => (
        <li>
          <h3>{project.name}</h3>
          <p>{project.description}</p>
        </li>
      ))
    }
  </ul>
</Section>

<style>
    
</style>