---
import Section from '@/components/Section.astro';

import { skills } from '@cv';
---

<Section title="Skills">
  <ul class="inline-flex gap-2 flex-wrap">
    {
      skills.map(({ name }) => (
        <li class="rounded bg-slate-700 text-slate-100 text-xs font-medium py-1 px-2.5">
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</Section>
